version: "3"

services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - n8n

  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    expose:
      - "5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123
      - GENERIC_TIMEZONE=Asia/Kolkata

      # Subdomain + HTTPS
      - N8N_HOST=n8n.newspresso.org
      - N8N_PROTOCOL=https
      - N8N_PORT=5678

      - WEBHOOK_URL=https://n8n.newspresso.org/
      - N8N_EDITOR_BASE_URL=https://n8n.newspresso.org/

      - N8N_SECURE_COOKIE=true
      - N8N_TRUST_PROXY=true
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
  caddy_data:
  caddy_config:
